<div class="registration-form-box">
    <%- messages() %>

        <h1>Register</h1>
        <form class="registration-form" action="/account/register" method="POST">
            <label for="first_name">First Name</label> <br>
            <input type="text" name="first_name" class="registration-input" required> <br>

            <label for="last_name">Last Name</label> <br>
            <input type="text" name="last_name" class="registration-input" required> <br>

            <label for="account_email">Email</label> <br>
            <input type="email" name="account_email" class="registration-input" required> <br>

            <label for="account_password">Password</label> <br>
            <input type="password" name="account_password" class="registration-input" minlength="12"
                pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{12,}"
                title="Password must be at least 12 characters, with at least one uppercase letter, one number, and one special character"
                required><br> <br>

            <input type="submit" id="register-button" value="Register">
        </form>
        <h3>Already have an account? <a href="/account/login">Login</a></h3>
</div>