@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media screen and (min-width: 800px) {

  body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2vmin;
  }

  #wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat: repeat;
    background-size: auto 100%;
  }

  main {
    width: 90vw;
    height: max-content;

    margin: 0 auto;
    padding: 2em;
    background-color: white;
    border: 10px solid #00bcd4;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  a {
    text-decoration: none;
    color: black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: "Merriweather", serif;
  }

  h1 {
    width: 100%;
    font-size: 4vmin;
  }

  .error-container {
    height: 100vh;
  }

  #error-display {
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #1e3a8a, #10b981);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0 auto;
  }

  .error-p {
    text-align: center;
    font-size: 32px;
    padding: 5px;
  }


  header {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 25px;
  }

  .siteName {
    font-size: 7vmin;
    margin-bottom: 1em;
  }

  header a {
    padding: 0.5em;
  }

  #tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    font-size: 4vmin;
  }

  nav {
    max-width: 100%;
    height: 5em;
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    /* Add padding for spacing */
    box-sizing: border-box;
    /* Ensure padding doesn't affect layout */
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    /* Adjust gap between list items */
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent wrapping of list items */
  }

  nav ul li {
    font-size: 4vmin;
    display: flex;
    align-items: center;
  }

  nav ul li:first-child {
    padding-left: 1em;
  }

  nav ul li:last-child {
    padding-right: 1em;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }


  .title {
    margin: 1em;
  }

  #hero {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 4em;
  }

  #hero img {
    width: 60%;
    height: auto;
  }

  #hero-details {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.706);
    position: absolute;
    top: 0;
    margin-left: 5em;
    padding: 0.5em 1em;
    color: #00bcd4;
    font-size: 3vmin;
    text-align: left;
  }

  #hero-details button {
    background-color: #00bcd4;
    color: black;
    height: 2em;
    width: 7em;
    border: none;
    font-size: 3.5vmin;
    font-weight: bold;
    margin-top: 1em;
  }

  .details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .details-container h1 {
    margin-bottom: 2em;
  }

  .reviews-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

  }

  .reviews {
    font-size: 4vmin;
  }

  .reviews li {
    margin-top: 1em;
  }

  .upgrades-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }

  .upgrades-container h1 {
    margin-left: 1em;
  }

  .upgrade {
    width: 8em;
    height: 8em;
    text-align: center;
    font-size: 3.5vmin;
  }

  .upgrade a {
    text-decoration: underline;
    color: blue;
  }

  .img-container {
    background-color: #00bcd4;
    text-align: center;
  }

  .img-container img {
    height: 5em;
  }

  /* classification */

  #class-type {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .list-fix {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-fix li {
    width: 200px;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    transition: transform 0.3s;
  }

  .list-fix li:hover {
    transform: scale(1.05);
  }

  .list-fix img {
    width: 100%;
    height: auto;
  }

  .namePrice {
    padding: 0.5em;
  }

  .namePrice h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  .namePrice span {
    font-size: 1em;
    color: black;
  }

  .notice {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1em;
  }


  /* details for the vehicles */
  .inventory-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
  }

  .inventory-details p {
    padding: .5em;
    font-size: 1.2em;
    width: 70%;
    text-align: center;
    margin: 0;
  }

  .vehicle-title {
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
  }

  .vehicle-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    align-self: center;
  }

  .vehicle-description {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
  }

  .vehicle-price {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .vehicle-mileage,
  .vehicle-color,
  .vehicle-classification {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
  }

  .notice {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  /* login details */
  .login-form-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #27239d;
    padding: 1em;
    width: 500px;
    margin: 1em auto;
    border-radius: 10px;
  }

  .login-form {
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1em;
  }

  .login-input {
    width: 350px;
    margin-bottom: 1em;
  }

  #login-button {
    border: none;
    background-color: white;
    padding: .3em .5em;
    border-radius: 10px;
  }

  #login-button:hover {
    background-color: black;
    color: white;
  }

  .login-form-box h3 {
    margin-top: 1em;
  }

  .login-form-box h3 a {
    color: white;
    text-decoration: underline;
  }

  /* registration */
  .registration-form-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #27239d;
    padding: 1em;
    width: 500px;
    margin: 1em auto;
    border-radius: 10px;
  }

  .registration-form {
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1em;
  }

  .registration-input {
    width: 350px;
    margin-bottom: 1em;
  }

  #register-button {
    border: none;
    background-color: white;
    padding: .3em .5em;
    border-radius: 10px;
  }

  #register-button:hover {
    background-color: black;
    color: white;
  }

  .registration-form-box h3 {
    margin-top: 1em;
  }

  .registration-form-box h3 a {
    color: white;
    text-decoration: underline;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 0.8em;
    background-color: transparent;
    margin-top: 1em;
    width: 100%;
    min-height: 50px;
    height: auto;
    box-sizing: border-box;
  }

  footer a {
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  footer a:hover {
    background-color: black;
    color: white;
  }

}