<div class="inventory-management-box">
    <!-- Flash messages section -->
    <%- messages() %>

        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <!-- Title and Header -->
                <h1>
                    <%= title %>
                </h1>

                <!-- Links to Add Classification and Add Inventory -->
                <div class="inventory-actions">
                    <a href="/inv/add-classification" class="action-link">Add New Classification</a>
                    <!-- MVC routed link -->
                    <a href="/inv/add-inventory" class="action-link">Add New Inventory</a>
                </div>

                <h2>Manage Inventory</h2>
                <p>Select a classification from the list below to see items in that classification</p>
                <%- classificationSelect %>
                    <table id="inventoryDisplay"></table>

                    <noscript>JavaScript must be enabled to use this page.</noscript>
                    <script>"use strict";

                        // Get a list of items in inventory based on the classification_id
                        let classificationList = document.querySelector("#classificationList");
                        classificationList.addEventListener("change", function () {
                            let classification_id = classificationList.value;
                            console.log(`classification_id is: ${classification_id}`);
                            let classIdURL = "/inv/getInventory/" + classification_id;
                            fetch(classIdURL)
                                .then(function (response) {
                                    if (response.ok) {
                                        return response.json();
                                    }
                                    throw Error("Network response was not OK");
                                })
                                .then(function (data) {
                                    console.log(data);
                                    buildInventoryList(data);
                                })
                                .catch(function (error) {
                                    console.log("There was a problem: ", error.message);
                                });
                        });

                        // Build inventory items into HTML table components and inject into DOM
                        function buildInventoryList(data) {
                            let inventoryDisplay = document.getElementById("inventoryDisplay");
                            // Set up the table labels
                            let dataTable = "<thead>";
                            dataTable += "<tr><th>Vehicle Name</th><td>&nbsp;</td><td>&nbsp;</td></tr>";
                            dataTable += "</thead>";
                            // Set up the table body
                            dataTable += "<tbody>";
                            // Iterate over all vehicles in the array and put each in a row
                            data.forEach(function (element) {
                                console.log(element.inv_id + ", " + element.inv_model);
                                dataTable += `<tr><td>${element.inv_make} ${element.inv_model}</td>`;
                                dataTable += `<td><a href='/inv/edit/${element.inv_id}' title='Click to update'>Modify</a></td>`;
                                dataTable += `<td><a href='/inv/delete/${element.inv_id}' title='Click to delete'>Delete</a></td></tr>`;
                            });
                            dataTable += "</tbody>";
                            // Display the contents in the Inventory Management view
                            inventoryDisplay.innerHTML = dataTable;
                        }
                    </script>

</div>

<style>
    .inventory-management-box {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 8px;
    }

    .inventory-actions {
        margin-top: 20px;
        text-align: center;
    }

    .action-link {
        display: inline-block;
        margin: 10px;
        padding: 10px 15px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .action-link:hover {
        background-color: white;
        color: black;
    }
</style>