<!DOCTYPE html>
<html lang="en">

<div class="error-container">
    <h1 id="error-display">
        <%= title %>
    </h1>
    <p class="error-p">
        <%= message %>
            Maybe try going back?
    </p>
</div>